@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient {
  background: linear-gradient(-45deg, #971199, #dd2ab6, #7520c0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navText {
  padding: 0px 20px;
}

.name {
  font-size: x-large;
  font-weight: bold;
}

.furniture:hover {
  scale: 130%;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}


* {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.taskBoard {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: max-content;
  min-height: 100px;
  width: 33vw;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #7d7d7d;
  /* Параметры границы */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.do-it-column {
  background-color: #fff0f0;
}

.in-progress-column {
  background-color: #fef2e7;
}

.awaiting-review-column {
  background-color: #fffada;
}

.done-column {
  background-color: #f5ffe5;
}

.taskCard {
  border-radius: 5px;
  background-color: #fafdff;
  height: 22vh;
  width: 22vw;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}